/* write your override styles here */

#wall .tag-1 {
  display: none;
}

body #wall #tag-2 {
  display: none;
}

/* <div id="tag-3" class="slick wicked"></div> */

body #wall #tag-3.slick {
  display: none;
}