/* write your override styles here */

/* tag 1 */
#wall .tag-1 {
  display: none;
}

/* tag 2 */
div#wall #tag-2{
  display:none;
}

/* tag 3 */
div#wall div#tag-3.slick{
  display:none;
}

/*tag 4 */
div#wall #tag-4{
  display:none;
}

/* tag 5 */
div#wall div.parent #tag-5.slick{
  display:none;
}

/* tag 6 */
body div#wall div.parent div:last-child div#tag-6{
  display:none;
}

/* tag 7 */
body div#wall div.parent div > div#tag-7.slick{
  display:none;
}